* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
}

header .logo {
  color: red;
  font-size: 2.5rem;
  font-weight: bolder;
  text-decoration: none;
}
header .logo i {
  color: red;
}
header .logo a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: lightcoral;
}
header .navbar a {
  font: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: azure;
  font-size: 20px;
  text-decoration: none;
}
header .navbar a:hover {
  color: azure;
  background: red;
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: azure;
  border-radius: 50%;
}
header .icons i:hover,
header .icons a:hover {
  color: red;
  background-color: azure;
}
header .icons #menu-bar {
  display: none;
}
.carousel-item img {
  background-color: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: auto;
  height: 100vh;
}
.find {
  height: 40px;
  width: 240px;
}

.box {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 25px;
}
.recently {
  text-align: center;
  font-size: large;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: black;
  color: red;
  font-weight: bold;
}
.animes {
  text-align: center;
}
.animes {
  background-color: black;
  padding-top: 20px;
}
.description {
  font-size: 20px;
  color: aliceblue;
}
.information {
  width: 100%;
  background-color: black;
  height: 180px;
  padding-top: 10px;
  justify-content: center;
  display: flex;
}

.information ul li {
  font-size: 20px;
  color: azure;
}
.information ul li a {
  text-decoration: none;
  color: red;
}
.copyright span a {
  text-decoration: none;
  color: azure;
  font-weight: bold;
}
.copyright {
  text-align: left;
  font-size: 18px;
  background-color: red;
  color: azure;
}
.carousel-caption {
  font-size: 16px;
}
.carousel-caption p {
  color: azure;
}
.carousel-caption h5 {
  color: azure;
  font-size: 36px;
}

@media only screen and (max-width: 600px) {
  #main {
      flex-direction: column;
  }
  #content {
      width: auto;
  }
  .rightbar {
      width: auto;
  }
  #general {
      width: auto;
      height: 100%;
      margin: 0;
  }
  #mtitle  {
      width: 100vw;
  }
  #bgreen {
      padding: 10px 15%;
  }
  #bred {
      padding: 10px 15%;
  }
  #mtitle  #button {
      margin-bottom: 20px;
  }
.begin{
  background-color: black;
  color: red;
  font-size: 24px;
}
}
@media only screen and (min-width: 800px) {
}
@media only screen and (min-width: 900px) and (max-width: 1024px){
}
@media only screen and (min-width: 1360px){ 
}
